body {
    background-color: antiquewhite;
}

.h2 {
    position: relative;
    margin-left: 200px;  
}


.arrow {
  list-style: none;
  padding: 0;
  margin-right: 0;

}

.arrow li::before {
  content: "➤";  /* arrow symbol */
  color: teal;
  margin-right: 8px;
}


.first {
    

    
}