.Listing {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px;
}

.H1 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: rgb(125, 125, 233);
}

.H2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(200, 100, 50);
}

.UL, OL {
  border: 2px solid black;
  border-radius: 20px;
  width: 200px;
  height: 500px;
  list-style: none;
  padding: 10px;
  background-color: lavender;
}

.LI {
  border: 2px solid gray;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 5px 5px 25px; 
  position: relative;
  background-color: aliceblue;
}

/* arrows bullets */
.LI::before {
  content: "➤";
  position: absolute;
  left: 8px;
  color: black; 
  font-weight: bold;
}

/* bago to */

.detail {
  border: 2px solid blue;
  border-radius: 10px;
  width: 720px;
  height: 550px;
  margin: 20px auto; /* centers it horizontally */
  padding: 10px;
  background-color: lightcyan;
}


.DT {
  font-weight: bold;
  margin-top: 10px;
}

.DL {
  padding: 10px;
}

.DD {
  margin-left: 20px;
  margin-bottom: 10px;
}

.UL, OL, DL {
  box-shadow: 4px 4px 8px rgba(0.9, 0.9, 0.9, 0.9);
}