body {
    background-color: #FCF9EC;
}

h2 {
    text-align: center;
}

.FirstSquare {
    height: 400px;
    border: 4px solid #BDE3C3;
    border-radius: 20px;
    background-color: #B0F4E6;

}

.box1 {
    float: left;
    margin-left: 50px;
    border: 3px solid rgb(95, 95, 76);
    border-radius: 20px;
    border-color: #000000;
    background-color: #FFE8DB;
    box-shadow: 5px 10px 20px  rgb(0, 0, 0);

}

#kahon1 {
    height: 250px;
    width: 220px;
    padding-left: 50px;
}

#kahon2 {
    height: 250px;
    width: 220px;
    padding-right: 50px;
}

#kahon3 {
    height: 250px;
    width: 220px;
    padding-top: 50px;
}

#kahon4 {
    height: 250px;
    width: 220px;
    padding-bottom: 100px;
    
}


.SecondSquare {
    margin-top: 20px;
    height: 400px;
    border: 4px solid #BDE3C3;
    border-radius: 20px;
    background-color: #B0F4E6;
}

.box2 {
    background-color: #FFE8DB;
    margin-left: 50px;
    float: left;
    border: 4px solid ;
    border-radius: 20px;
    box-shadow: 5px 5px 18px 7px;
    
}

#kahon5 {
    height: 250px;
    width: 220px;
    padding-top: 10px;
    padding-right: 10px;
    
}

#kahon6 {
    height: 250px;
    width: 220px;
    padding-right: 15px;
    padding-bottom: 15px;

}

#kahon7 {
    height: 250px;
    width: 220px;
    padding-bottom: 25px;
    padding-left: 25px;
    
}

#kahon8 {
    height: 250px;
    width: 220px;
    padding-top: 35px;
    padding-left: 35px;

    
}

.ThirdSquare {
    background-color: #B0F4E6;
    border: 4px solid #BDE3C3;
    margin-top: 20px;
    border-radius: 20px;
    height: 500px
}

.box3 {
    background-color: #FFE8DB;
    margin-left: 28%;
    float: left;
    border: #000000 4px solid;
    border-radius: 20px;
    height: 85px;
    width: 5%;

}

#kahon9 {
    height: 380px;
    width: 540px;
    padding: 150px;
}               
