.una {
    margin-top: 20px;
    text-align: center;
    background-color: lightblue;
    border: 1px solid red;
    border-radius: 20px;
    box-shadow: 5px 5px 5px  rgb(255, 0, 0);
}

.pangalawa {
    margin-left: 200px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 3px 8px 8px yellow;
    border: 2px solid yellow;
    border-top: 0px ;
    width: 75%;
    height: 90px; 
}

.pangatlo {
    margin: 2px;
    padding-left: 240px;
    padding-top: 20px;

}

#imahe {

    margin-left: 5px;
    text-align: center;
    background-color: rgb(190, 182, 182);
    padding-left: 250px;
    float: left;
    border: 1px solid black;
    border-radius: 60px;
    height: 40px;
    width: 27%;
    padding: 15px;
    box-shadow: 6px 8px 8px blue;

}


   


.po {
    font-family: Arial, Helvetica, sans-serif;
}


