body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 245, 172);

}

* {
  box-sizing: border-box;
}


header {
  background-color: #a09b9b;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(214, 0, 0);

}

/*nav*/

nav {
  float: left;
  width: 30%;
  height: 100%; 
  background: #b1afaf;
  padding: 20px;
  height: 600px;
  border: 2px black solid;

}

section {
  overflow: auto;
}

nav ul {
    padding: 0;
    list-style: none;
    background-color: #a09b9b;
    text-align: center;
}

nav li a {
    display: block;
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
    padding: 8px 15px;
    
}

ul li a:hover:not(.active) {
  background-color: #111111;
}

ul li a.active {
  background-color: #04AA6D;
}

li :hover {
    background-color: aquamarine;
        
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #dad3d3;
  height: 300px; 
   height: 600px;
   /* only for demonstration, should be removed */
}

footer {
  background-color: #a5e412;
  padding: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

