#Container {
    border: 2px solid black;
    width: 500px;
    height: 400px;
    position: relative;
}

#Content {
    position: relative;
    top: 198px;
    left: 298px;
    border: 1px solid blue;
    background-color: lightgray;
    width: 200px;
    height: 200px;

}


#Content2 {
    position: relative;
    top: 0px;
    left: 298px;
    border: 1px solid blue;
    background-color: lightgray;
    width: 200px;
    height: 200px;

}

#Content3 {
    position: relative;
    top: 198px;
    left: 0px;
    border: 1px solid blue;
    background-color: lightgray;
    width: 200px;
    height: 200px;

}

#Content4 {
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid blue;
    background-color: lightgray;
    width: 200px;
    height: 200px;

}

#header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightcoral;
    width: 100%;
    height: 100px;
}

#fixed {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: lightgreen;
    width: 100%;
    height: 100px;
}

#Ads {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: lightblue;
    width: 250px;
    height: 250px;
    transform: translate(-50%, -50%);
}

#Stickyheader {
    text-align: center;
    position: sticky;
    top: 20px;
    background-color: lightyellow;
    width: 100%;
    height: 50px;
}
